section.screen#home
    .logo: .wrap
        //img(src='/img/logo.svg')
        .compound_logo.track
            img.outer(src='/img/loader_outer.svg')
            img.inner(src='/img/loader_inner.svg')
        //include ../../img/logo.svg
        h1.who
            strong Full stack developer
            small and more
    .scroller: img(src='/img/triangle-empty-down.svg')

