section.screen#portfolio
    .works.grid
        .wraper
            - var n = 0
            while n < 9
                article.loading.item.frontend.graphic_design.awarded(data-preview="/img/portfolio/beloesuhoe/preview.jpg")
                    //img.sizer(src='/img/sizer_16x9.png')
                    a.details(href='/portfolio/work/')
                    .heading
                        a.url(href='http://beloesuhoe.com', target='_blank') 1 beloesohoe.com
                        span.scope | frontend, graphic design
                    .awards
                        a.kiaf(href='#', target='_blank')
                        a.fwa(href='#', target='_blank')
                        a.csswinner.sod(href='#', target='_blank')
                        a.awwwards.hm(href='#', target='_blank')
                article.loading.item.frontend.graphic_design(data-preview="/img/portfolio/beloesuhoe/preview.jpg")
                    //img.sizer(src='/img/sizer_16x9.png')
                    a.details(href='/portfolio/work/')
                    .heading
                        a.url(href='http://beloesuhoe.com', target='_blank') 2 beloesohoe.com
                        span.scope | frontend, graphic design
                    .awards
                        a.kiaf(href='#', target='_blank')
                        a.fwa(href='#', target='_blank')
                        a.csswinner.sod(href='#', target='_blank')
                        a.awwwards.hm(href='#', target='_blank')
                article.loading.item.frontend.awarded(data-preview="/img/portfolio/beloesuhoe/preview.jpg")
                    //img.sizer(src='/img/sizer_16x9.png')
                    a.details(href='/portfolio/work/')
                    .heading
                        a.url(href='http://beloesuhoe.com', target='_blank') 3 beloesohoe.com
                        span.scope | frontend, graphic design
                    .awards
                        a.kiaf(href='#', target='_blank')
                        a.fwa(href='#', target='_blank')
                        a.csswinner.sod(href='#', target='_blank')
                        a.awwwards.hm(href='#', target='_blank')
                - n++
                
        .arrows
            button.left.nav_left
            button.right.nav_right
        .works-list-display
            - var n = 0
            while n < 9
                .item.simple.frontend.graphic_design
                    a.details(href="/portfolio/work/") beloesohoe.com
                    a.url(href='http://beloesuhoe.com', target='_blank')
                    span.scope | frontend, graphic design
                .item.simple.frontend.graphic_design.awarded
                    a.details(href="/portfolio/work/") beloesohoe.com
                    a.url(href='http://beloesuhoe.com', target='_blank')
                    span.scope | frontend, graphic design
                .item.simple.frontend.graphic_design
                    a.details(href="/portfolio/work/") beloesohoe.com
                    a.url(href='http://beloesuhoe.com', target='_blank')
                    span.scope | frontend, graphic design
                .item.simple.graphic_design.awarded
                    a.details(href="/portfolio/work/") beloesohoe.com
                    a.url(href='http://beloesuhoe.com', target='_blank')
                    span.scope | frontend, graphic design
                - n++

    .controls
        .display-mode
            ul.list-type
                li: button.display_mode.grid_big.active(data-type='grid_big')
                li: button.display_mode.grid_small(data-type='grid_small')
                li: button.display_mode.list(data-type='list')
        .scope
            .title scope of work:
            ul.list
                li: button.filter-button.active(data-type='frontend') frontend
                li: button.filter-button.active(data-type='backend') backend
                li: button.filter-button.active(data-type='architecture') architecture
                li: button.filter-button.active(data-type='graphic_design') graphic design
                li: button.filter-button.active(data-type='3d') 3d
        .filter
            .title display only:
            ul.list
                li: button.filter-button.only(data-type='awarded') awarded
                li: button.filter-button.only(data-type='highload') highload
