include ../mixins/menu.jade
include ../mixins/likes.jade
include ../mixins/ga.jade
include ../mixins/facebook_init.jade
include ../mixins/vk_init.jade

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta( name="viewport", content="width=device-width")
        block title
            title Terion
        link(rel="stylesheet", href="/fonts/stylesheet.css")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="icon", type="image/png", href="/img/favicon.png")
        script(src="/vendor/promise-ajax-js/promise.min.js")
        script(src="/vendor/velocity/velocity.min.js")
        //script(src="/vendor/isotope/dist/isotope.pkgd.min.js")
        //script(src="/vendor/isotope-fit-columns/fit-columns.js")
            
        block socials
            meta(property="og:url", content="http://terion.name")
            meta(property="og:title", content="Terion")
            meta(property="og:description", content="Full stack developer with high graphic design skills and medium 3D-modeling skills")
            meta(property="og:image", content="http://terion.name/img/fb_share.png")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="Terion")
        meta(property="og:locale", content="en_US")
        meta(property="fb:app_id", content="800918833348791")
            
        +vk_init(5013791)

    body
        +facebook_init(800918833348791)
        #container
            #header.home
                img.logo(src='/img/logo.svg', alt='Terion', title='Terion')
                +likes('/')
                block menu
                    +menu('home')
            block content
        script(src="/js/scripts.js")