mixin likes(url, inverted)
    .likes-widget(class=(inverted ? 'inverted': ''))
        .fb
            .holder like
            .container
        .vk
            .holder like
            .container
        .tw
            .holder tweet
            .container