mixin likes(url, inverted)
    .likes-widget(class=(inverted ? 'inverted' : ''))
        .fb
            .holder like
            .container
                .fb-like(data-href="#{url}", data-width='100', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
        .vk
            .holder like
            .container
                .vk-like
                script(type='text/javascript').
                    (function () {
                        var i, j, len, like, liker, likers, randomId, results, results1;
                        likers = document.getElementsByClassName('vk-like');
                        if (typeof VK !== "undefined" && VK !== null) {
                            i = 0;
                            results = [];
                            while (i < likers.length) {
                                liker = likers[i];
                                if (!liker.getAttribute('id')) {
                                    randomId = 'vk_like_' + Math.ceil(Math.random() * Math.random() * 10000);
                                    liker.setAttribute('id', randomId);
                                    VK.Widgets.Like(randomId, {
                                        height: 20,
                                        type: "mini",
                                        locale: 'en_US',
                                        pageUrl: "#{url}"
                                    });
                                }
                                results.push(i++);
                            }
                            return results;
                        } else {
                            results1 = [];
                            for (j = 0, len = likers.length; j < len; j++) {
                                like = likers[j];
                                results1.push(like.style.display = 'none');
                            }
                            return results1;
                        }
                    })();
                        
        .tw
            .holder tweet
            .container
                a.twitter-share-button(href="#{url}", data-text='', data-via='terion_fallen') Tweet
                script.
                    !function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');
