mixin menu(active)
    nav.top_menu
        ul
            li(class=(active == 'home' ? 'active' : '')): a(data-screen='0', href='/') Home
            li(class=(active == 'portfolio' ? 'active' : '')): a(data-screen='1', href='/portfolio') Portfolio
            li(class=(active == 'about' ? 'active' : '')): a(data-screen='2', href='/about') About